@page "/"

<PageTitle>Home</PageTitle>
<div class="text-center">
<img src="https://www.winksy.co.uk/user/Hotwheels_banner.jpg" class="img-fluid" />
</div>
<AuthorizeView>
    <Authorized>
        <p>Use the navigation on the left to create new entries and view your collection!</p>
    </Authorized>
    <NotAuthorized>
        <p>Please The Login Button On The Top Right To Login via your Google Account</p>
    </NotAuthorized>
 </AuthorizeView>
